.blog-tags a {
  @apply font-bold underline text-hot-pink;

  &:hover {
    @apply text-black;
  }
}

::-moz-selection {
  color: white;
  background: #fd2d78;
}

::selection {
  color: white;
  background: #fd2d78;
}